<h3> Detect Bias </h3>
<div class="grid-container">
		<div>
			<label>Keywords:</label>
			<input type="text"
			name="keywords"
			[(ngModel)]= "userInput.keywordString"><br />
		</div>
		<div>
			<button class="btn btn-primary" (click)="onGetMapping()">
			Update
			</button>
		</div>
		<div>
			<label>Left Axis:</label>
			<input type="text"
			name="left-axis"
			[(ngModel)]= "userInput.leftString"><br />
		</div>
		<div>
			<button class="btn btn-primary" (click)="reset()">
			Reset
			</button>
		</div>
		<div>
			<label>Right Axis:</label>
			<input type="text"
			name="right"
			[(ngModel)]= "userInput.rightString"><br />
		</div>
</div>
<p *ngIf="showError" style="width: 900px"> {{errorMessage}} </p>
<div>
	<div style="font-size: 18px; margin-top: 30px; margin-bottom: 15px">
		Example mappings:
	</div>
	<div>
	<button class="btn btn-secondary" style="margin-left: 100px; " (click)="onGetGenderMapping()">
		Gender Mapping
	</button>
	<button class="btn btn-secondary"(click)="onGetColorMapping()">
		Color Mapping
	</button>
	</div>
</div>
<div style="display:block; width:150%" *ngIf="barChartLabels.length > 0">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>