<h3> Detect Bias </h3>
<div> 
	<input type="text"
	name="keywords"
	[(ngModel)]= "userInput.keywordString">	
	<input type="text"
	name="left-axis"
	[(ngModel)]= "userInput.leftString">
	<input type="text"
	name="right"
	[(ngModel)]= "userInput.rightString">
</div>
<button class="btn btn-primary" (click)="onGetMapping()">
	Update
</button>
<div style="display: block" *ngIf="barChartLabels.length > 0">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>