<h3> Detect Bias 
	<button type="button"
					class="btn btn-outline-primary btn-circle"
					placement="right-bottom"
					ngbPopover="To detect bias in a newspaper model, an basis axis is defined by entering words on its extreme sides (female, woman, her vs. male, man, his). The keywords are then mapped orthogonally onto the axis. The displayed values then shows whether it's closer to the left or the right extreme of the axis."
					popoverTitle="Keyword Mapping"
					popover-class="increase-popover-width">
		?
	</button>
</h3>
<div>
	To search for any possible tendency in a newspaper specify a words on the extremes (e.g. male, man vs. female, woman) and the keywords you want to test (e.g. professor, nurse).
</div>
<div class="grid-container">
		<div>
			<label>Keywords:</label>
			<input type="text"
			name="keywords"
			[(ngModel)]= "userInput.keywordString"><br />
		</div>
		<div>
			<button class="btn btn-primary" (click)="onGetMapping()">
			Update
			</button>
		</div>
		<div>
			<label>Left Axis:</label>
			<input type="text"
			name="left-axis"
			[(ngModel)]= "userInput.leftString"><br />
		</div>
		<div>
			<button class="btn btn-primary" (click)="reset()">
			Reset
			</button>
		</div>
		<div>
			<label>Right Axis:</label>
			<input type="text"
			name="right"
			[(ngModel)]= "userInput.rightString"><br />
		</div>
</div>
<p *ngIf="showError" style="width: 900px"> {{errorMessage}} </p>
<div>
	<div style="font-size: 18px; margin-top: 30px; margin-bottom: 15px">
		Example mappings:
	</div>
	<div>
	<button class="btn btn-secondary" style="margin-left: 100px; " (click)="onGetGenderMapping()">
		Gender Mapping
	</button>
	<button class="btn btn-secondary"(click)="onGetColorMapping()">
		Color Mapping
	</button>
	</div>
</div>
<div style="display:block; width:125%" *ngIf="barChartLabels.length > 0">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>
