<h3> Explore Language Usage
	<button type="button"
								class="btn btn-outline-primary btn-circle"
								placement="right-bottom"
								ngbPopover="The cloud displays the words which are closest to the searched term. The larger a word the stronger is its relation. The relation of two words is determined by the cosine similarity of their vectors.
		If two vectors point into the same direction (are parallel) they have a cosine similarity of 1. The cosine similarity of orthogonal vectors is 0."
								popoverTitle="Similar Words">
		?
	</button>
</h3>
<div>
	Type in a word to see closely related terms.
</div>
<div>
  <input #wordinput />
  <button class="btn btn-primary" (click)="correlationService.query(wordinput.value)">Update</button>
</div>
<div>
	<p *ngIf=correlationService.hasError>{{errorMessage}}</p>
	<angular-tag-cloud
	    [data]="data"
	    [width]="options.width"
	    [height]="options.height"
	    [overflow]="options.overflow"
	    [zoomOnHover]="zoomOnHoverOptions">
	</angular-tag-cloud>
</div>
