<h2>Correlations</h2>
<ul class="correlation">
  <li *ngFor="let correlation of correlations"
    [class.selected]="correlation === selectedCorrelation"
    (click)="onSelect(correlation)">
    <span class="badge">{{correlation.value}}</span> {{correlation.label}}
  </li>
</ul>

<canvas baseChart width="400" height="400"
  [datasets]="lineChartData"
  [labels]="lineChartLabels"
  [options]="lineChartOptions"
  [colors]="lineChartColors"
  [legend]="lineChartLegend"
  [chartType]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
