<p>
<b>MediaUncovered</b> is an open-source project.
</p>

<p>
We publish meeting notes, discussions and relevant literature to be fully transparent.
Besides documenting our ideas and the project progress, this openness is essential for trust and collaboration within the open source community.
</p>

<p>
Visit our <a href="https://github.com/MediaUncovered"> GitHub repo</a> to see the code and meeting notes.
</p>

<h6>
	Founded by:
</h6>
<div class="row">
	<div class="column">
		<img src="../../assets/BMBF_2017_en.jpg">
	</div>
	<div class="column">
		<img src="../../assets/prototypefund.png" id="ptf">
	</div>
	<div class="column">
		<img src="../../assets/OKF_en.jpg">
	</div>
</div>
