<h3> Collection Info </h3>
<button class="btn btn-primary" (click)="onGetInfo()">Get Collection Info</button>
<table class="table" *ngIf="hasInfo">
	<tbody>
		<tr>
			<th scope="row">Newspaper:</th>
			<td>{{collectionInfo.newspaper}}</td>
		</tr>
		<tr>
			<th scope="row">Number of publications:</th>
			<td>{{collectionInfo.nr_articles}}</td>
		</tr>
		<tr>
			<th scope="row">Earliest publication date:</th>
			<td>{{collectionInfo.earliest_publication_date}}</td>
		</tr>
		<tr>
			<th scope="row">Latest publication date:</th>
			<td>{{collectionInfo.latest_publication_date}}</td>
		</tr>	
	</tbody>
</table>