<!-- <button class="btn btn-primary" (click)="getModelInfo()"> -->
<!-- Model Info -->
<!-- </button> -->
<table class="table">
	<tbody>
		<tr>
			<th scope="row">Model Type:</th>
			<td>{{modelInfo.type}}</td>
		</tr>
		<tr>
			<th scope="row">Method:</th>
			<td>{{modelInfo.method}}</td>
		</tr>
		<tr>
			<th scope="row">Minimum word frequency:</th>
			<td>{{modelInfo.min_freq}}</td>
		</tr>
		<tr>
			<th scope="row">Size of context window:</th>
			<td>{{modelInfo.context_window}}</td>
		</tr>	
		<tr>
			  <th scope="row">Number of epochs:</th>
			  <td>{{modelInfo.epochs}}</td>
		</tr>	
	</tbody>
</table>
