<h3> Explore Language Usage </h3>
<div>
  <input #wordinput />
  <button class="btn btn-primary" (click)="correlationService.query(wordinput.value)">Update</button>
  </div>
  <p *ngIf="correlationService.hasError"> {{errorMessage}} </p>
  <div>
  <div style="display:block; width: 120%">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
